dotenv
scikit-learn
langchain_google_genai
streamlit
pdf2docx
spire
spire.doc
spire.doc.free
transformers 
sentence-transformers
huggingface_hub[hf_xet]
hf_xet
sentencepiece
markdownify
PyPDF2   
et-xmlfile 
openpyxl
python-docx
langchain_community
langchain
docx
transformers[torch]

